<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折线图</title>
       <script type="text/javascript" src="../static/js/jquery.js"></script>
     <script type="text/javascript" src="../static/js/echarts.min.js"></script>
</head>
<body>
<div id="mian" style="height:600px;width: 800px;"></div>
<script type="text/javascript">
    // 定位画布
    var mychart=echarts.init(document.getElementById("mian"))
    //配置项
    var option = {
        title:{
            text:"折线图实例",
            subtext:'副标题'
        },
        tooltip:{},
        legend:{
            data:['袜子','衬衫','羽绒服']
        },
        xAxis:{
            data:['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
        },
        yAxis:{},
        series:[
            {name:'袜子',
            type:'line',
                data:[5,20,10,20,50,60,50]
            },
             {name:'衬衫',
            type:'line',
                data:[15,200,120,210,500,600,50]
            },
              {name:'羽绒服',
            type:'line',
                data:[65,210,109,120,50,60,50]
            },

        ]
    };
     mychart.setOption(option)
</script>

</body>
</html>